@model CoverType

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Cover Type</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="Name"></label> @* asp-for allow us to use any property of the model *@
            <input asp-for="Name" class="form-control"  /> 
           <span asp-validation-for="Name" class="text-danger"></span> @* To get the error message for invalid ModelState *@
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-area="Admin" asp-controller="CoverType" asp-action="Index" class="btn btn-primary">Back To List</a>
    </div>
</form>

@* This partial view adds jquery to use form validations in the client side (without reloading the page)
 instead of the server-side validations that needs to reload the page.
*@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
